@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: "Raleway", sans-serif;
  max-width: 1280px;
  background-color: #d6dded2e;
}

.pi_bg {
  background-image: url("./Assets/Hero-bg.png");

  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 50px 150px;
}

nav h1 {
  font-size: 34px;
  color: #4E47FF;
}

nav button {
  border: none;
  background-color: #4E47FF;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

nav button:hover {
  background-color: #3b35cc;
  box-shadow: 0 8px 16px rgba(78, 71, 255, 0.3);
}


.header {
  padding: 110px 118px;
  text-align: center;
}

.header h1 {
  font-size: 65px;
  padding: 37px;
}

.header button {
  border: none;
  background-color: #4E47FF;
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
}

.header button:hover {
  background-color: #3b35cc;
  box-shadow: 0 8px 16px rgba(78, 71, 255, 0.3);
}


/* banner start   */

.bannner-section {
  margin: 116px 150px;
}

.banner-div {
  margin: o auto;
  display: flex;
  justify-content: space-between;
  gap: 200px;
}

.text-part {
  padding: 62px 0 62px 0;
}

.banner-div h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 15px;
}

.banner-div p {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.523);
  margin-bottom: 15px;
}

.banner-div button {
  border: none;
  background-color: #4E47FF;
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
}

.banner-div button:hover {
  background-color: #3b35cc;
  box-shadow: 0 8px 16px rgba(78, 71, 255, 0.3);
}

/* productive_section */

.productive_section {
  margin: 116px 150px;
  background-color: #4d47ff1d;
  border-radius: 10px;
  padding: 50px 140px;
}

.users {
  font-family: "Inter", sans-serif;
}

.users h1 {
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
}

.users p {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
}

.review_section {
  margin: 116px 150px;

}

.focus-section {
  border-radius: 10px;
  margin: 116px 150px;
  background-color: white;
  padding: 70px 150px;
}

.focus-section button {
  border: none;
  background-color: #4E47FF;
  color: white;
  border-radius: 10px;
  padding: 12px 36px;
}

.focus-section button:hover {
  background-color: #3b35cc;
  box-shadow: 0 8px 16px rgba(78, 71, 255, 0.3);
}

.input_section {
  margin: 116px 150px;
  display: flex;
  justify-content: space-between;
  gap: 115px;
}

.input_section h1 {
  font-size: 70px;
  font-weight: bold;

}

.input_section input {
  padding: 20px 270px 20px 32px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.121);
}

.input_section textarea {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.121);
  padding: 20px 50px 8px 32px;
}

.input_section button {
  font-size: 16px;
  border-radius: 10px;
  color: white;
  border: none;
  background: linear-gradient(90deg, #9403FD, #00ADFE);
  padding: 10px 186px;
  text-align: center;
  margin-top: 15px;
}

.input_section button:hover {
  background: linear-gradient(90deg, #7B02D1, #0098E0);
  filter: brightness(1.05);

}


.footer {
  background-color: white;
  padding: 100px 350px;
}
.footer li {
  list-style: none;
  color: #8987A1;
}
.footer a {
    text-decoration: none;
    color: #8987A1;
}
.footer p {
  margin-bottom: 10px;
}